<h1>Saludo#index</h1>
<p>Find me in app/views/saludo/index.html.erb</p>
<%= 1 + 1 %>
<% publico='Tlaxcala'%>
<%= "Hola desde#{publico}"%>

<% 10.times do |n|%>
<p> Contador:  <%= n %> </p>
<% end%>

<% @numeros.each do |n| %>
<% if n.even? %>
    <span> <%= n + n %> </span>
  <% end %>  
<% end %>